/* container */
li {
  list-style: none;
}

.ul {
  padding: 10px;
  margin: 10px;
}

.container {
  margin: 50px;
}

/* left Weather box*/
.location {
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  color: white;
  padding: 30px 0 0 30px;
}

.date-time,
.description {
  font-size: 25px;
  font-weight: 400;
  color: white;
  position: relative;
  left: 70px;
}

.humidity-wind {
  font-size: 18px;
  color: white;
  position: relative;
  left: 65px;
}

.icon {
  margin: 150px 0 0 40px;
}

.current-temp {
  font-size: 80px;
  font-weight: 600;
  border: transparent;
  background: transparent;
  position: relative;
  left: 0px;
  top: 130px;
  color: white;
}

.unit {
  font-size: 25px;
  font-weight: 400;
  color: white;
  position: relative;
  top: -40px;
  left: -5px;
  text-decoration: none;
}

.unit:hover {
  text-decoration: underline;
  color: white;
}

.weather {
  border-radius: 30px;
  background: rgb(95, 107, 202); /* back-up if image doesn't work in browser*/
  background-image: linear-gradient(
      45deg,
      rgba(255, 242, 0, 0.8),
      rgba(247, 92, 2, 0.8)
    ),
    url(img/background.jpeg);
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 1;
  right: -25px;
}

.weather:hover {
  transform: scale(1.02);
  transition: all 300ms ease-in-out;
}

/* right Info box*/
.info {
  border-radius: 30px;
  background: rgba(34, 41, 49);
  height: 450px;
}

.wrapper {
  position: relative;
  top: 30px;
}

/* weather for next coming days */
.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-1 {
  background: white;
  border-radius: 10px;
  margin: 30px 0;
  color: #373d46;
  height: 130px;
  margin-left: 50px;
}

.day-2,
.day-3 {
  background: #373d46;
  color: white;
  height: 120px;
}

.day-4 {
  background: #373d46;
  border-radius: 0 10px 10px 0;
  color: white;
  height: 120px;
  margin-right: 50px;
}

.hover:hover {
  transform: scale(1.1);
  border-radius: 10px;
}

/* search current/new position*/
.search-block {
  padding: 20px 0;
  text-align: center;
}

.search-btn {
  padding: 10px 15px;
  border-radius: 50px;
  background: rgb(223, 84, 4);
  border: transparent;
  color: white;
  position: relative;
  left: -20px;
  top: -10px;
}

#current-btn {
  padding: 5px 20px;
  border-radius: 20px;
  background: linear-gradient(45deg, rgba(247, 92, 2), rgb(255, 217, 0));
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border: transparent;
}

.search-btn:hover {
  background: rgb(255, 208, 0);
  color: rgba(34, 41, 49);
  transition: all 300ms ease-in-out;
}

#current-btn:hover {
  transform: scale(0.95);
}

.search-input {
  padding: 2px 0 2px 10px;
  border-radius: 20px;
  width: 60%;
  position: relative;
  left: 20px;
  top: -10px;
  background-color: rgb(255, 254, 211);
  color: rgb(148, 100, 11);
}

@media only screen and (max-width: 1007px) {
  /* For mobile phones: */
  [class*="weather"] {
    position: relative;
    left: 0;
  }
  [class*="current-temp"] {
    font-size: 50px;
  }

  [class*="unit"] {
    font-size: 20px;
    top: -25px;
  }

  [class*="location"] {
    font-size: 25px;
  }

  [class*="date-time"] {
    font-size: 20px;
    left: 60px;
  }

  [class*="description"] {
    font-size: 20px;
    left: 60px;
  }

  [class*="humidity-wind"] {
    font-size: 16px;
    left: 30px;
  }

  [class*="icon"] {
    margin: 150px 0 0 20px;
  }
}
